@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
  font-family: 'Karla', sans-serif;
  background-color: #e9edf3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.app {
  display: flex;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 100%;
}

.left-section {
  flex: 1;
  padding: 80px;
}

.left-section h2 {
  color: #0c4b49;
  margin-bottom: 20px;
}

.btn-signup {
  display: flex;
  gap: 8px;
}

.btn-signup button {
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  color: white;
}

.btn-signup {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.btn-signup button {
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: start;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  color: white;
  position: relative; 
}

.btn-signup i {
  font-size: 18px;
  position: relative; 
  z-index: 1; 
}

.google-btn {
  background-color: #0c4b49;
  color: white;
  width: 100%; 
  gap: 8px;
  padding-left: 20px !important;
}


.facebook-btn,
.twitter-btn {
  width: 45px;
  color: #0c4b49;
  gap: 0 !important;
}

.google-btn i {
  margin-right: 50px;
}

.facebook-btn i,
.twitter-btn i {
  color: #0c4b49;
}

.twitter-btn span,
.facebook-btn span {
    opacity: 0;
    max-width: 0; 
    overflow: hidden; 
    transition: opacity 0.3s ease, max-width 0.3s ease;
    color: #0c4b49;
}

/* Effets hover uniquement pour les ordinateurs / tablettes avec souris */
@media (hover: hover) and (pointer: fine) {
    .btn-signup button:hover {
        width: 100%;
        gap: 8px;
        background-color: #0c4b49;
        color: white !important;
        padding-left: 20px !important;
    }

    .btn-signup button:hover span {
    opacity: 1;
    max-width: max-content; 
    color: white;
    }

    .btn-signup button:hover i {
        margin-right: 50px;
        color: white;
    }

    .btn-signup:hover button:not(:hover) {
        width: 45px;
        gap: 0 !important;
        background-color: #e9edf3;
        padding-left: 10px !important;
    }

        .btn-signup:hover button:not(:hover) span {
        opacity: 0;
        max-width: 0; 
    }

    .btn-signup:hover button:not(:hover) i {
        margin-right: 0 !important;
        color: #0c4b49;
    }
}


.line {
  text-align: center;
  margin: 20px 0;
  position: relative;
  color: #ccc;
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background-color: #ccc;
  top: 50%;
  transform: translateY(-50%);
}

.line::before {
  left: 0;
}

.line::after {
  right: 0;
}

.form-row {
  display: flex;
  gap: 20px;
}

.fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #0c4b49;
  font-weight: bold;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #deeeee;
  outline: none;
  font-size: 15px;
  background-color: #deeeee;
}

input:focus {
  border-color: #0c4b49;
}

small {
  color: red;
  height: 14px;
  font-size: 12px;
  margin-top: 3px;
}

.bottom-form {
    display: flex;
    justify-content: space-between;
}

.submit-btn {
  background-color: #0c4b49;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #0a3f3e;
}

.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #0c4b49;
}

.login-text a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.login-text a:hover {
    text-decoration: underline;
}

.right-section {
  flex: 1;
  background-color: #0c4b49;
  color: white;
  position: relative;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  padding: 30px;
}

.text-overlay h3 {
    margin-top: 0;
  font-weight: 700;
}

.text-overlay h2 {
  margin: 15px 0;
}


.toast {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0c4b49;
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 999;
}

.toast.show {
  top: 20px;
  opacity: 1;
}

.toast h4 {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.attribution {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 850px) {
    .app {
        box-shadow: none;
        border-radius: 0;
    }
    .right-section {
        display: none;
    }

    .left-section {
        padding: 0 !important;
        height: 100vh !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btn-signup span {
        display: none;
    }

    .btn-signup button {
        width: max-content;
    }

    .google-btn {
        padding-left: 10px !important;
    }

    .google-btn i {
        margin-right: 0;
    }

    .twitter-btn,
    .facebook-btn {
        background-color: #0c4b49;
        color: white !important;
    }

    .twitter-btn i,
    .facebook-btn i {
        color: white !important;
    }

    .line {
        width: 100%;
    }

    .line::after {
        margin-right: 20px;
    }

    .line::before {
        margin-left: 20px;
    }

    #signup-form {
        width: 90%;
    }

    .form-row {
        flex-direction: column;
        gap: 0;
    }

    .bottom-form {
        flex-direction: column;
    }

    .toast {
      width: 80%;
      padding: 8px 20px;
    }
}
